body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}
nav {
    margin-bottom: 20px;
    padding: 10px;
    background-color: f0f0f0;
}

a {
    text-decoration: none;
    color: 2c3e50;
    margin-right: 15px;
}
